
  /* NEW DEVELOPMENT */
.cheading14 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;

    text-align: center;
}
.ctext14 {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.row44 {
    max-width: 100%;
    background-color: #213448;
    padding: 4rem 0rem;
}
.r44a {
    max-width: 50%;
    color: white;
    margin: auto;
}

  
  @media (max-width: 600px) {
    .ctext14 {
      font-size: 1.5rem;
    }
    .cheading14{
      font-size: 2.5rem;
    }
    .r44a {
      max-width: 75%;
    }
  }